/*#001*/
main{
    background-color: rgba(255, 105, 105, 0);
    margin:0 20px 0 20px;
}
.in{
    width: 800px;
    background-color: rgba(255, 0, 0, 0);
    margin:0 auto;
    padding:0;
}
.itemimg{
    background-color: rgba(127, 255, 212, 0);
    width: 100%;
    margin:0 auto;
}
.png{
    padding-top:25px;
    width:400px;
    padding-left:0;
    float: left;
}
#itemedtail{
    background-color: rgba(125, 125, 198, 0.01);
    margin-top:10px;
    padding-top:30px;
    margin-left:420px;
    height: 420px;
}
.mains{
    background-color: rgba(0, 139, 139, 0);
    width: 100%;
    margin-top:45px
}
.main_left{
    background-color: rgba(212, 164, 114, 0);
    width:50%;
    margin-left:0;
    float:left;
}
.main_right{
    background-color: rgba(0, 255, 255, 0);
    float:right;
    width:50%;
    height: 130px;
}
.main_right p{
    margin:10px 0 15px 20px;
}
.main_right button{
    width: 120px;
    height:80px;
    border:none;
    border-radius:5px;
    color:#464646;
    background-color: #dedede;
    margin-left: 50px;
}
#itemname h2,#itemprice h2{
    display:inline;
}
#itemname{
    width:70%;
    background-color: rgba(0, 255, 255, 0);
    float:left;
}
#itemprice{
    float:right;
    width:30%;
    background-color: rgba(127, 255, 212, 0);
}
#itemtags{
    width:100%;
    background-color: rgba(0, 139, 139, 0);
    height: 90px;
}
.itemdetailtags li{
    padding-left: 10px;
    display: inline;
    list-style: none;
}
.main_left button{
    float:right;
    width: 130px;
    height:40px;
    border:none;
    border-radius:5px;
    color:#464646;
    background-color: #dedede;
    white-space: nowrap;
}
.main_left button:hover{
    background-color: #efefef;
    transition:0.5s;
}