.main_area{
    margin:20px auto;
    background-color: #ffffff;
    height: 800px;
    width: 90%;
    min-height:600px;
    border-radius:5px;
    padding:4% 10%;
}
.main_area p{
    margin:15px 0 0 0;
}
.box{
    width:70%;
    max-width: 600px;
    height: 40px;
    border:0;
    border-bottom: 1px solid black;
    margin-top:-50px;
}
.box:focus{
    border-bottom:1px solid #ffb5b5;
    transition:0.5s;
}
.exbtn{
    margin-left:35%;
    margin-top:20px;
    width: 130px;
    height:40px;
    border:none;
    border-radius:5px;
    color:#464646;
    background-color: #dedede;
    white-space: nowrap;
    background-size: 100px;
}
.exbtn:hover {
    background-color: #efefef;
    transition: 0.5s;