header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    background: #fff;
    color: #000;
    box-shadow:0 1px 0 0 #888888;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.header_boss{
    display: flex;
    position: absolute;
}

.header_left{
    background-color:red;
    height: 70px;
    width:80px;
}

.header_right{
    background: aqua;
    display:flex;
}