.main_area{
    background-color: #ffffff;
    height: 93%;
    width: 90%;
    border-radius:5px;
    padding:4% 10%;
}
a{
    text-decoration:underline;
}
a:hover{
    color: #cbcbcb;
}
.main_area li{
 margin:10% 0 0 6%;
}
.main_area p{
    background: aliceblue;
    line-height: 0;
}
#email,#password{
    width:70%;
    max-width: 600px;
    height: 40px;
    border:0;
    border-bottom: 1px solid black;
}
#email,#password:focus{
    border-bottom:1px solid black;
}