.topitemimg{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.item1{
    margin: 23px;
    padding:80px;
    background: blue;
    flex-grow: 1;
    height: 200px;

}
.item2{
    margin: 23px;
    padding:80px;
    background: blue;
    flex-grow: 1;
    height: 200px;
}
.item3{
    margin: 23px;
    padding:80px;
    background: blue;
    flex-grow: 1;
    height: 200px;
}
